<%- layout("layouts/boilerplate.ejs") %>
<body>
<%for(let i=0;i<hotels.length;i++) { %>
    <% if(hotels[i].guestList.length) {%>
        <div class="mt-3 ">
            <h4> &nbsp; &nbsp;<%=hotels[i].name%></h4>
    
        </div>
        <%}%>
    <%if(hotels[i].guestList.length) {%>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Purpose</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%let guests = hotels[i].guestList;%>
                <%for(let j=0;j<guests.length;j++) {%>
                    <tr>
                        <td><%=guests[j].name%></td>
                        <td><%=guests[j].number%></td>
                        <td><%=guests[j].purpose%></td>
                        <td>
                       <a href="/guest/update/<%=guests[j]._id%>" class="btn btn-secondary">Update</a>
                        </td>
                    </tr>
                <%}%>
                
            </tbody>
        </table>
    <%}%>
    <%}%>
  

   
</body>


